.modal {
  h2 {
    font-size: 22px;
    color: #000000;
  }
}

.paper {
  padding: 10px !important;
  max-width: 800px !important;
}

.top {
  display: flex;
  justify-content: space-between;
}

.middle {
  display: flex;
}
